.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
}

.img {
  width: 200px;
  max-width: 50vw;
  margin: 2rem 0 3rem 0;
}

.welcome {
  text-align: center;
  margin-bottom: 1.5rem;
}

.wt {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  opacity: 0.8;
}

.nd {
  font-size: 5.5rem;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.text {
  font-size: 1.4rem;
  margin: 0 auto 1rem auto;
  opacity: 0.85;
  line-height: 1.6;
  text-align: center;
  width: 65%;
}

.button {
  font-size: 2em;
  margin: 5% 10%;
}